header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #000;
}

.logo {
    width: 80px;
}

.util ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}

.util ul li {

}
