/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--font-size-main);
}
ul { list-style-type: none; }
a { text-decoration: none; color: black; font-weight: bold; }
a:hover:not(.btn) { text-decoration: underline;}
img { width: 100%; }
button { cursor: pointer; }
hr { margin-bottom: 10px; }

:root {
  --font-size-main : 20px;
}

