.form-input { 
    width: 100%; 
    box-sizing: border-box; 
    outline: none;
    padding: 4px;
    border: 2px solid gray;
    border-radius: 4px;
    resize: none;
}

.form-input:hover,
.form-input:focus
{ 
    border: 2px solid lightblue;
    border-radius: 4px;
    background-color: rgb(240, 255, 255);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
}

.table th,
.table td {
    border: 1px solid black;
    padding: 8px;
}

.table th {
    background-color: black;
    color: white;
}

.table tr:hover {
    background-color: inherit;
}

.table th:nth-child(1),
.table td:nth-child(1) {
    width: 10%;
    text-align: center;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 50%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 20%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 20%;
}